{% extends 'base.html' %}
{% block title %}Guide{% endblock title %}


{% block body %}

<div style="background-image: url('https://img.freepik.com/free-vector/young-guy-travelling-by-taxi-around-city-marker-destination-baggage-flat-vector-illustration-transportation-urban-lifestyle_74855-8724.jpg?w=1060&t=st=1682348193~exp=1682348793~hmac=3c0048adf3661a15d202177d7ca052bff763eaf366b6fb558c2a7171cd6d5031'); background-size: cover;" >
  <h1 style="font-size: 36px; color: #333; text-align: center; margin-top: 40px; ">This is our DBMS project which is on the topic of CAB BOOKING SERVICE.</h1>
  <p style="font-size: 20px; color: #555; line-height: 1.5; margin: 20px 0; text-align: justify; padding: 0 40px;">In this project, we are making a database for storing the cab, Driver, and passenger information in SQL language and MySQL workbench. We have Django as the backend framework in making this.</p>
  <h2 style="font-size: 24px; color: #333; text-align: center; margin-top: 40px;">The features of the project are:</h2>
  <hr>
  <ol style="list-style-type:square; margin: 0; padding: 0;">
    <li style="font-size: 18px; color: #000000; line-height: 1.5; margin: 20px 0; padding: 0 40px;">The passenger and Driver can make their account using their respective email, which is done on the signup page.</li>
    <li style="font-size: 18px; color: #000000; line-height: 1.5; margin: 20px 0; padding: 0 40px;">Then there is a login page to log in as a passenger or Driver.</li>
    <li style="font-size: 18px; color: #000000; line-height: 1.5; margin: 20px 0; padding: 0 40px;">There will be a home screen on which we can book a cab by entering pickup and destination location.</li>
    <li style="font-size: 18px; color: #000000; line-height: 1.5; margin: 20px 0; padding: 0 40px;">The next page will be the payment page, on which there will be the amount, Cab, and Driver information. There will be two buttons on the payment page -- make payment and Cancel cab. The Cancel Cab button will cancel the cab booking and redirect the user to the Home screen.</li>
    <li style="font-size: 18px; color: #000000; line-height: 1.5; margin: 20px 0; padding: 0 40px;">By clicking on make the payment, we will go to the next page, which will need card details to make payment.</li>
    <li style="font-size: 18px; color: #000000; line-height: 1.5; margin: 20px 0; padding: 0 40px;">The last page will be a feedback page for the passenger on which the passenger can give feedback about the Driver.</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li><li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ol>
</div>
{% endblock body %} 
